

<p class="card-title">Wallet Transaction</p>

<div id="Transaction-Div">
</div>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/js/toastr.min.js"></script>
<script src="~/js/viewsscripts/CreditDebitTransactions.js"></script>