
<p class="card-title">Sub Admin</p>
<div class="mt-2 mb-2">
    <a asp-controller="Admin" asp-action="Surcharge" class="btn btn-primary btn-rounded btn-fw">Add Surcharge</a>
</div>

<div id="Surcharge-Div">
</div>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/js/toastr.min.js"></script>
<script src="~/js/viewsscripts/surchargelist.js"></script>